$guardsman-red: #c00;
$outer-space: #121719;
$thistle: #f9f7f9;
$cyan-aqua: #0cc;
$cyprus: #005151;
$kabul: #55433b;
$lonestar: #6e0000;
$tradewind: #64baaa;
$white: #fff;
$chilean-fire: #f57207;
$woodland: #78833f;
$pomegranate: #f44336;
$petrol: #006b5e;
$english-walnut: #191412;

$primary: $guardsman-red;
$secondary: $cyan-aqual;
$light: $thistle;
$dark: $outer-space;
$accent: $cyprus;
$success: $woodland;
$warning: $chilean-fire;
$danger: $pomegranate;